footer {height: 150px; border-radius: 0px; margin-top: 10px; margin-bottom: 0; padding-bottom: 0;}
header {height: 42px; padding-left: 20px; padding-right: 20px; padding-top: 22px; padding-bottom: 22px;}
section {margin: 0px 0px 20px 10px; border-radius: 2px; width: 940px; left: 250px;}
aside {margin-right: 10px; width: 250px; border-radius: 2px; height: 330px; }
aside.fixed {position: fixed;}
body {background: url(/assets/img/bg-header.png) top left repeat-x #eceef3; font-family: 'proxima-nova', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px;}
body.app {margin-bottom: 0; margin-top: 0;}

/* coloring text */
.tc-darkgrey, .tc-darkgrey a {color: rgba(87,94,106, 1);/*#575e6a*/}
.tc-white, .tc-white a {color: rgba(252,252,253, .9)/*#fcfcfd;*/}
.tc-brightwhite, .tc-brightwhite a {color: #fff;}
.tc-medgrey, .tc-medgrey a {color: #9196aa;}
.tc-lightgrey, .tc-lightgrey a {color: #ddd;}
.tc-darkblue, .tc-darkblue a {color: #fcfcfd;}
.tc-darkgreen {color: rgba(37,140,115, .8);}
.tc-medblue {color: rgba(42,131,161, .8);}

/* background-coloring */
.bg-lightgreen {background-color: rgba(53,201,164, .5)/*#35c9a4;*/}
.bg-lightergreen{background-color: rgba(113,218,191, .3);}
.bg-medgreen {background-color: rgba(42,161,131, .7);}
.bg-lightblue {background-color: rgba(47,188,203, .7);}
.bg-lightermedblue {background-color: rgba(93,182,212, .5);}
.bg-medblue {background-color: rgba(53,164,201, .5);}
.bg-lightred {background-color: rgba(246,130,117, .8);}
.bg-silvergrey {background-color: #e0e3eb; }
.bg-card {background-color: rgba(252,252,253, .95);}
.bg-sidebar {background-color: rgba(252,252,253, .95);}
.bg-pillbar {background-color: rgba(252,252,253, .95);}
.bg-transparent {background: transparent;}
.bg-none {background: none;}
.bg-btn-nav {background-color: rgba(145,150,170, .7);} 
.bg-btn-save {background-color: rgba(85,172,238, .9); } 
.bg-btn-cancel {background-color: rgba(224,227,235, .5);} 


/* boxshadows */
.bs-default {box-shadow: 2px 2px 3px -2px #9196aa;}
.bs-none {box-shadow: none;}
.bs-underline {box-shadow: 0 -4px #ddd inset;}
.bs-btn-nav {box-shadow:1px 1px 0px 0px rgba(252,252,253, .9);}
.bs-btn-action {box-shadow: 1px 1px 0px 0px #9196aa;}

/* borders */
.border-grey {border: 1px solid rgba(252,252,253, .9);/*#9196aa*/;}
.border-lightgrey {border: 1px solid #ddd;/*#9196aa*/;}
.border-bottom-light-grey {border-bottom: 1px solid #ddd;}
.border-darkgrey {border: 1px solid rgba(145,150,170, .5);}
.border-radius-2 {border-radius: 2px;}
.border-radius-0 {border-radius: 0;}
.border-radius-top-2 {border-top-right-radius: 2px; border-top-left-radius: 2px;}
.border-box {box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;}
.border-lightblue {border: 1px solid rgba(204,218,255, 1);}


/* control-group */


/* control-group-state */
.controls input:focus, 
.controls textarea:focus {border-color: rgba(82,168,236,0.5)/*rgba(145,150,170, .7)*/; padding: 4px 6px 20px 6px;}
.controls input:focus + label, 
.controls textarea:focus + label {top: 100%; margin-top: -16px; background-color: rgba(85,172,238, .8);/*background-color: rgba(52,114,218, .8)*//*rgba(145,150,170, .9)*/; color: white; font-size: 70%; padding: 1px 6px; z-index: 2; text-transform: uppercase;}

/* elements */
.input, .textarea {width: 100%; top: 0; left: 0; z-index: 1; outline: 0;} 
.label {top: 0; bottom: 0; left: 0; width: 100%; transition: background 0.2s, color 0.2s, top 0.2s, bottom 0.2s, right 0.2s, left 0.2s; padding: 7px 6px;}

a {font-size: 14px; text-decoration: none;}
/* elements-state */
ul {list-style-type: none; padding: 0;}
ul:hover a {opacity: 0.6;}
ul a:hover, ul li:hover a {opacity: 1;}

.line-weight-20 {line-height: 20px;}
.font-size-26 {font-size: 26px;}
.font-size-24 {font-size: 24px;}
.font-size-22 {font-size: 22px;}
.font-size-20 {font-size: 20px;}
.font-size-18 {font-size: 18px;}
.font-size-16 {font-size: 16px;}
.font-size-14 {font-size: 14px;}
.font-size-13 {font-size: 13px;}
.font-size-12 {font-size: 12px;}
.font-size-11 {font-size: 11px;}
.font-size-10 {font-size: 10px;}
.font-size-8 {font-size: 8px;}
.font-size-6 {font-size: 6px;}
.font-size-4 {font-size: 4px;}
.font-weight-900 {font-weight: 900;}
.font-weight-800 {font-weight: 800;}
.font-weight-700 {font-weight: 700;}
.font-weight-600 {font-weight: 600;}
.font-weight-500 {font-weight: 500;}
.text-transform-caps {text-transform: capitalize;} 
.text-transform-upper {text-transform: uppercase;}
.letter-spacing-1 {letter-spacing: 1px;}
.letter-spacing-5 {letter-spacing: .5px;}
.opacity-1 {opacity: 1;}
.opacity-minus-1 {opacity: .1;}
.opacity-minus-2 {opacity: .2;}
.opacity-minus-3 {opacity: .3;}
.opacity-minus-4 {opacity: .4;}
.opacity-minus-5 {opacity: .5;}
.opacity-minus-6 {opacity: .6;}
.opacity-minus-7 {opacity: .7;}
.opacity-minus-8 {opacity: .8;}
.opacity-minus-9 {opacity: .9;}
.opacity-minus-95 {opacity: .95;}
.transition-4 {transition: all .4s ease-in-out; -moz-transition: all .4s ease-in-out; -webkit-transition: all .4s ease-in-out;}
.transition-2 {-webkit-transition: all 0.2s ease; -moz-transition: all 0.2s ease; -o-transition: all 0.2s ease;}

/* Grid System */
/* fluid */
[class*=gird-width] {-moz-box-sizing: border-box; box-sizing: border-box; width: 100%;}
.grid-width-fluid-1-1 {width: 100%}
.grid-width-fluid-9-10 {width: 90%}
.grid-width-fluid-4-5 {width: 80%}
.grid-width-fluid-3-4 {width: 75%;}
.grid-width-fluid-7-10 {width: 70%;}
.grid-width-fluid-2-3 {width: 66.6667%;}
.grid-width-fluid-3-5 {width: 60%;}
.grid-width-fluid-1-2, .grid-width-medium-2-4, .grid-width-medium-3-6 {width: 50%;}
.grid-width-fluid-1-2-1, .grid-width-medium-2-4-1, .grid-width-medium-3-6-1 {width: 49%;}
.grid-width-fluid-2-5 {width: 40%;}
.grid-width-fluid-1-3, .grid-width-medium-2-6, .grid-width-medium-3-9 {width: 33.3333%;}
.grid-width-fluid-3-10 {width: 30%;}
.grid-width-fluid-1-4, .grid-width-medium-2-8 {width: 25%;}
.grid-width-fluid-1-5 {width: 20%;}
.grid-width-fluid-1-6 {width: 16.6667%;}
.grid-width-fluid-1-12 {width: 8.3333%;}
/* Extra small devices Phones (<768px) width-xs- */
/* Small devices Tablets (≥768px) width-sm- */
.grid-width-992 {width: 768px;} 
/* Medium devices Desktops (≥992px) width-md- */
.grid-width-992 {width: 992px;} 
/* Large devices Desktops (≥1200px) width-lg- */
.grid-width-1200 {width: 1200px;} 
.col-lg-12 {width: 100%;}
.col-lg-11 {width: 91.66666667%;}
.col-lg-10 {width: 83.33333333%;}
.col-lg-9 {width: 75%;}
.col-lg-8 {width: 66.66666667%;}
.col-lg-7 {width: 58.33333333%;}
.col-lg-6 {width: 50%;}
.col-lg-5 {width: 41.66666667%;}
.col-lg-4 {width: 33.33333333%;}
.col-lg-3 {width: 25%;}
.col-lg-2 {width: 16.66666667%;}
.col-lg-1 {width: 8.33333333%;}
.col-lg-pull-12 {right: 100%;}
.col-lg-pull-11 {right: 91.66666667%;}
.col-lg-pull-10 {right: 83.33333333%;}
.col-lg-pull-9 {right: 75%;}
.col-lg-pull-8 {right: 66.66666667%;}
.col-lg-pull-7 {right: 58.33333333%;}
.col-lg-pull-6 {right: 50%;}
.col-lg-pull-5 {right: 41.66666667%;}
.col-lg-pull-4 {right: 33.33333333%;}
.col-lg-pull-3 {right: 25%;}
.col-lg-pull-2 {right: 16.66666667%;}
.col-lg-pull-1 {right: 8.33333333%;}
.col-lg-pull-0 {right: 0%;}
.col-lg-push-12 {left: 100%;}
.col-lg-push-11 {left: 91.66666667%;}
.col-lg-push-10 {left: 83.33333333%;}
.col-lg-push-9 {left: 75%;}
.col-lg-push-8 {left: 66.66666667%;}
.col-lg-push-7 {left: 58.33333333%;}
.col-lg-push-6 {left: 50%;}
.col-lg-push-5 {left: 41.66666667%;}
.col-lg-push-4 {left: 33.33333333%;}
.col-lg-push-3 {left: 25%;}
.col-lg-push-2 {left: 16.66666667%;}
.col-lg-push-1 {left: 8.33333333%;}
.col-lg-push-0 {left: 0%;}
.col-lg-offset-12 {margin-left: 100%;}
.col-lg-offset-11 {margin-left: 91.66666667%;}
.col-lg-offset-10 {margin-left: 83.33333333%;}
.col-lg-offset-9 {margin-left: 75%;}
.col-lg-offset-8 {margin-left: 66.66666667%;}
.col-lg-offset-7 {margin-left: 58.33333333%;}
.col-lg-offset-6 {margin-left: 50%;}
.col-lg-offset-5 {margin-left: 41.66666667%;}
.col-lg-offset-4 {margin-left: 33.33333333%;}
.col-lg-offset-3 {margin-left: 25%;}
.col-lg-offset-2 {margin-left: 16.66666667%;}
.col-lg-offset-1 {margin-left: 8.33333333%;}
.col-lg-offset-0 {margin-left: 0%;}


/* buttons */

.btn i, .btn span {opacity: 0.5;}
/* buttons-state */
.btn:hover {left:1px; top:1px; box-shadow:none; background:transparent; transition: all .4s ease-in-out; -moz-transition: all .4s ease-in-out; -webkit-transition: all .4s ease-in-out;}
.btn-nav:hover {background-color: rgba(145,150,170, .5)/*rgba(53,201,164, .5)*/;/*rgba(224,227,235, .2);*/}
.btn-save:hover {background-color: rgba(85,172,238, .6);/*rgba(214,235,234, .2);*/}
.btn-cancel:hover {background-color: rgba(224,227,235, .2);}

/* tables */
.table thead, table thead {background: transparent; border-top: 1px solid #e5ecf4;}
table {max-width: 100%; width: 100%; background-color: transparent; border-collapse: collapse;border-spacing: 0;}
.table th, .table td {padding: 8px; line-height: 20px; text-align: left; vertical-align: top; border-top: 1px solid #ddd;}
.table th {font-weight: bold;}
.table td, .table th, table td, table th {padding-top: 15px; padding-bottom: 15px;}
table td, .table td, .table th, table th {border-top: 1px solid #e5ecf4;}
.table thead th {vertical-align: bottom;}
table#account_list td {cursor: pointer;}
table td, .table td, .table th, table th {border-top: 1px solid #e5ecf4;}
/* tables-state */
.table caption+thead tr:first-child th, .table caption+thead tr:first-child td, .table colgroup+thead tr:first-child th, .table colgroup+thead tr:first-child td, .table thead:first-child tr:first-child th, .table thead:first-child tr:first-child td {border-top: 0;}
.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {background-color: #f5f5f5;}
tbody:hover > tr td {filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);opacity: 0.6;}
tbody:hover > tr:hover td {text-shadow: none;color: #2d2d2d;filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);opacity: 1;}

/* navigation */
.nav a {font-weight: 500; font-size: 14px; letter-spacing: .5px; -webkit-transition: all 0.2s ease; -moz-transition: all 0.2s ease; -o-transition: all 0.2s ease; }
.nav:active a {opacity: 1.0;}
.nav:active ul:active a {opacity: 0.5;}
.nav:active ul:active a:active {opacity: 0.9;}
.nav-sidebar-header {padding: 0 0 0 30px;}
.nav-sidebar-list {padding: 0 20px 0 20px; line-height: 20px;}
.nav-sidebar i {margin-right: 8px; width: 18px; opacity: 0.7;}
.nav-sidebar li {padding: 5px 0 5px 35px; margin-bottom: 8px;}
.nav-sidebar li:hover {background-color: rgba(82,168,236,0.1); border-radius: 2px;} /* nice blue color */
.nav-sidebar li:hover a {color: rgba(52,114,218, .9);}
.nav-sidebar li:hover i {opacity: 1;}
.nav-pillbar li {padding: 5px 20px; }
.nav-pillpar-inner {padding: 20px;}
.nav-pillbar li:hover {background-color: rgba(82,168,236,0.1); border-radius: 2px;} /* nice blue color */
.nav-pillbar li:hover a {color: rgba(52,114,218, .9);}
.nav-topbar li {padding: 5px 20px; }
.nav-topbar li:hover {background-color: rgba(242,242,242, 0.3); border-radius: 2px;} /* nice blue color */
.nav-topbar li:hover a {color: white;}
.nav-bottombar {font-family: 'Ruda', sans-serif; font-size: 13px;}

/* layouts */
.l-position-relative {position: relative;}
.l-position-absolute {position: absolute;}
.l-position-fixed {position: fixed;}
.l-display-block {display: block;}
.l-display-inline-block {display: inline-block;}
.l-display-none {display: none;}
.l-display-table {display: table;}
.l-display-table-row {display: table-row;}
.l-display-table-cell {display: table-cell;}
.l-display-inline li {display: inline;}
.l-table-layout-fixed {table-layout: fixed;} 
.l-margin-controls {margin-left: 190px;}
.l-margin-0 {margin: 0;}
.l-margin-0-auto {margin: 0 auto;}
.l-margin-right20 a {margin-right: 20px;}
.l-margin-lastchild-0 li:last-child a {margin: 0;}
.l-margin-top-25 {margin-top: 25px;}
.l-margin-top-20 {margin-top: 20px;}
.l-margin-top-15 {margin-top: 15px;}
.l-margin-top-10 {margin-top: 10px;}
.l-margin-top-5 {margin-top: 5px;}
.l-margin-top-0 {margin-top: 0;}
.l-margin-bottom-0 {margin-bottom: 0;}
.l-margin-bottom-5 {margin-bottom: 5px;}
.l-margin-bottom-10 {margin-bottom: 10px;}
.l-margin-bottom-15 {margin-bottom: 15px;}
.l-margin-bottom-20 {margin-bottom: 20px;}
.l-margin-bottom-25 {margin-bottom: 25px;}
.l-margin-right-0 {margin-right: 0;}
.l-margin-right-5 {margin-right: 5px;}
.l-margin-right-10 {margin-right: 10px;}
.l-margin-right-15 {margin-right: 15px;}
.l-margin-right-20 {margin-right: 20px;}
.l-margin-right-25 {margin-right: 25px;}
.l-margin-right-30 {margin-right: 30px;}
.l-margin-left-0 {margin-left: 0;}
.l-margin-left-5 {margin-left: 5px;}
.l-margin-left-10 {margin-left: 10px;}
.l-margin-left-15 {margin-left: 15px;}
.l-margin-left-20 {margin-left: 20px;}
.l-margin-left-25 {margin-left: 25px;}
.l-margin-left-30 {margin-left: 30px;}
.l-margin-left-35 {margin-left: 35px;}
.l-margin-left-40 {margin-left: 40px;}
.l-margin-left-45 {margin-left: 45px;}
.l-margin-top-bottom-5 {margin-top: 5px; margin-bottom: 5px;}
.l-padding-0 {padding: 0;}
.l-padding-5 {padding: 5px;}
.l-padding-10 {padding: 10px;}
.l-padding-12 {padding: 12px;}
.l-padding-15 {padding: 15px;}
.l-padding-20 {padding: 20px;}
.l-padding-25 {padding: 25px;}
.l-padding-30 {padding: 30px;}
.l-padding-35 {padding: 35px;}
.l-padding-30-35-10-35 {padding: 30px 35px 10px 35px;}
.l-padding-30-35-35-35 {padding: 30px 35px 35px 35px;}
.l-padding-25-35-35-35 {padding: 25px 35px 35px 35px;}
.l-padding-35-0-35-0 {padding: 35px 0 35px 0px;}
.l-padding-top-15 {padding-top: 15px;}
.l-padding-top-10 {padding-top: 10px;}
.l-padding-top-5 {padding-top: 5px;}
.l-padding-top-0 {padding-top: 0;}
.l-padding-bottom-0 {padding-bottom: 0;}
.l-padding-bottom-5 {padding-bottom: 5px;}
.l-padding-bottom-10 {padding-bottom: 10px;}
.l-padding-bottom-15 {padding-bottom: 15px;}
.l-padding-left-0 {padding-left: 0;}
.l-padding-left-5 {padding-left: 5px;}
.l-padding-left-10 {padding-left: 10px;}
.l-padding-left-15 {padding-left: 15px;}
.l-padding-left-20 {padding-left: 20px;}
.l-padding-left-25 {padding-left: 25px;}
.l-padding-left-30 {padding-left: 30px;}
.l-padding-left-35 {padding-left: 35px;}
.l-padding-left-40 {padding-left: 40px;}
.l-padding-left-45 {padding-left: 45px;}
.l-padding-left-55 {padding-left: 55px;}
.l-padding-left-60 {padding-left: 60px;}
.l-padding-right-0 {padding-right: 0;}
.l-padding-right-5 {padding-right: 5px;}
.l-padding-right-10 {padding-right: 10px;}
.l-padding-right-15 {padding-right: 15px;}
.l-padding-right-20 {padding-right: 20px;}
.l-padding-right-25 {padding-right: 25px;}
.l-padding-right-30 {padding-right: 30px;}
.l-padding-right-35 {padding-right: 35px;}
.l-padding-right-40 {padding-right: 40px;}
.l-padding-right-45 {padding-right: 45px;}
.l-padding-right-50 {padding-right: 50px;}
.l-padding-left-right-neg-15 {padding-left: -15px; padding-right: -15px;}
.l-padding-left-right-neg-10 {padding-left: -10px; padding-right: -10px;}
.l-padding-left-right-neg-5 {padding-left: -5px; padding-right: -5px;}
.l-padding-left-right-0 {padding-left: 0; padding-right: 0;}
.l-padding-left-right-5 {padding-left: 5px; padding-right: 5px;}
.l-padding-left-right-10 {padding-left: 10px; padding-right: 10px;}
.l-padding-left-right-15 {padding-left: 15px; padding-right: 15px;}
.l-padding-top-bottom-0 {padding-top: 0; padding-bottom: 0;}
.l-padding-top-bottom-5 {padding-top: 5px; padding-bottom: 5px;}
.l-padding-top-bottom-10 {padding-top: 10px; padding-bottom: 10px;}
.l-padding-top-bottom-15 {padding-top: 15px; padding-bottom: 15px;}
.l-padding-top-bottom-60-35 {padding-top: 35px; padding-bottom: 35px;}
.l-padding-top-bottom-0-25 {padding-top: 0px; padding-bottom: 25px; }
.l-float-left {float: left;}
.l-float-left-a a {float: left;}
.l-float-right {float: right;}
.l-text-right {text-align: right;}
.l-text-left {text-align: left;}
.l-text-center {text-align: center;}
.l-vertical-align-middle {vertical-align: middle;}
.l-overflow-hidden {overflow: hidden;}
.l-overflow-auto {overflow: auto;}


/* pagination */
.pagination {padding-left: 0; margin: 20px 0;}
/* REVIEW THE FACT THAT YOU CAN"T REMOVE BORDER AND PLACE IT ELSEWHERE */
.pagination>a, 
.pagination>li>span {border: 1px solid rgba(252,252,253, .9); padding: 6px 12px; line-height: 1.42857143; margin-left: -1px;}
/* pagination-state */
.pagination>li>a:hover, .pagination>li>span:hover, .pagination>li>a:focus, .pagination>li>span:focus {color: rgba(52,114,218, .9)/*#2a6496*/; background-color: rgba(82,168,236,0.1)/*#eee*/;}
.pagination>li:first-child>a, .pagination>li:first-child>span {margin-left: 0; border-bottom-left-radius: 2px; border-top-left-radius: 2px;}
.pagination>li:last-child>a, .pagination>li:last-child>span {border-bottom-right-radius: 2px; border-top-right-radius: 2px;}

/* cards */
/* PLEASE REVIEW THIS LINE BELOW */
.form input:valid, .card textarea:valid {background-color: rgba(252,252,253, .95);}

/* package and products */
.product, .product label {cursor: pointer;}
.package .product:hover {background-color: rgba(82,168,236,0.1); opacity: 1.0;}
.package:hover > div {opacity: 0.7;}
.font-awsome input[type=checkbox] + label:before {font-family: FontAwesome;}
.unchecked-icon input[type=checkbox] + label:before {content: "\f096"; } 
.checked-icon input[type=checkbox]:checked + label:before {content: "\f046";}

.img-thumbnail {width: 140px; height: 140px;}



.thumbnail {}
